In [1]:
import pandas as pd
import numpy as np

In [2]:
date = pd.read_csv("C:\\Users\\ANKAN KUMAR SAHOO\\Downloads\\orders.csv")
time = pd.read_csv("C:\\Users\\ANKAN KUMAR SAHOO\\Downloads\\messages.csv")

In [3]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [4]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [5]:
date['date'] = pd.to_datetime(date['date'])

In [6]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

Year

In [7]:
date['date_year'] = date['date'].dt.year

Month

In [8]:
date['date_month_no'] = date['date'].dt.month

Month Name

In [9]:
date['date_month_name'] = date['date'].dt.month_name()

Day

In [10]:
date['date_day'] = date['date'].dt.day

Day of Week

In [11]:
date['day_of_week'] = date['date'].dt.dayofweek

Day of Week Name

In [12]:
date['date_of_week_name'] = date['date'].dt.day_name()

Quarter

In [13]:
date['quarter'] = date['date'].dt.quarter

In [14]:
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day,day_of_week,date_of_week_name,quarter
0,2019-12-10,5628,25,3,2019,12,December,10,1,Tuesday,4
1,2018-08-15,3646,14,157,2018,8,August,15,2,Wednesday,3
2,2018-10-23,1859,25,1,2018,10,October,23,1,Tuesday,4
3,2019-08-17,7292,25,1,2019,8,August,17,5,Saturday,3
4,2019-01-06,4344,25,3,2019,1,January,6,6,Sunday,1

In [15]:
import datetime

today = datetime.datetime.today()

today

datetime.datetime(2025, 9, 4, 19, 14, 2, 551319)

In [16]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [17]:
time['date'] = pd.to_datetime(time['date'])

In [18]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [19]:
time['hour'] = time['date'].dt.hour # hour
time['min'] = time['date'].dt.minute # minute
time['sec'] = time['date'].dt.second # second

In [20]:

time['time'] = time['date'].dt.time

In [21]:
today - time['date']

0     4281 days 18:24:02.551319
1     4145 days 19:34:02.551319
2     4631 days 18:53:02.551319
3     3933 days 18:43:02.551319
4     4330 days 20:03:02.551319
                 ...
995   4920 days 18:24:02.551319
996   4241 days 20:00:02.551319
997   4706 days 19:37:02.551319
998   4822 days 19:40:02.551319
999   4094 days 19:49:02.551319
Name: date, Length: 1000, dtype: timedelta64[ns]

In [22]:
(today - time['date'])/np.timedelta64(1,'s')

0      3.699446e+08
1      3.581984e+08
2      4.001864e+08
3      3.398786e+08
4      3.741842e+08
           ...
995    4.251542e+08
996    3.664944e+08
997    4.066690e+08
998    4.166916e+08
999    3.537929e+08
Name: date, Length: 1000, dtype: float64

In [23]:
(today - time['date'])/np.timedelta64(1,'m')

0      6.165744e+06
1      5.969974e+06
2      6.669773e+06
3      5.664643e+06
4      6.236403e+06
           ...
995    7.085904e+06
996    6.108240e+06
997    6.777817e+06
998    6.944860e+06
999    5.896549e+06
Name: date, Length: 1000, dtype: float64

In [24]:
(today - time['date'])/np.timedelta64(1,'h')

0      102762.400709
1       99499.567375
2      111162.884042
3       94410.717375
4      103940.050709
           ...
995    118098.400709
996    101804.000709
997    112963.617375
998    115747.667375
999     98275.817375
Name: date, Length: 1000, dtype: float64