In [41]:
import pandas as pd
import numpy as np

In [42]:
date = pd.read_csv("C:\\Users\\ANKAN KUMAR SAHOO\\Downloads\\orders.csv")
time = pd.read_csv("C:\\Users\\ANKAN KUMAR SAHOO\\Downloads\\messages.csv")

In [43]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [44]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [45]:
date['date'] = pd.to_datetime(date['date'])

In [46]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [47]:
date['date_year'] = date['date'].dt.year

In [48]:
date['date_month_no'] = date['date'].dt.month

In [49]:
date['date_month_name'] = date['date'].dt.month_name()

In [50]:
date['date_day'] = date['date'].dt.day

In [51]:
date['day_of_week'] = date['date'].dt.dayofweek

In [52]:
date['date_of_week_name'] = date['date'].dt.day_name()

In [53]:
date['quarter'] = date['date'].dt.quarter

In [54]:
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day,day_of_week,date_of_week_name,quarter
0,2019-12-10,5628,25,3,2019,12,December,10,1,Tuesday,4
1,2018-08-15,3646,14,157,2018,8,August,15,2,Wednesday,3
2,2018-10-23,1859,25,1,2018,10,October,23,1,Tuesday,4
3,2019-08-17,7292,25,1,2019,8,August,17,5,Saturday,3
4,2019-01-06,4344,25,3,2019,1,January,6,6,Sunday,1

In [55]:
import datetime

today = datetime.datetime.today()

today

datetime.datetime(2025, 8, 28, 9, 48, 25, 510988)

In [56]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [57]:
time['date'] = pd.to_datetime(time['date'])

In [58]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [59]:
time['hour'] = time['date'].dt.hour
time['min'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second

In [60]:

time['time'] = time['date'].dt.time

In [61]:
today - time['date']

0     4274 days 08:58:25.510988
1     4138 days 10:08:25.510988
2     4624 days 09:27:25.510988
3     3926 days 09:17:25.510988
4     4323 days 10:37:25.510988
                 ...
995   4913 days 08:58:25.510988
996   4234 days 10:34:25.510988
997   4699 days 10:11:25.510988
998   4815 days 10:14:25.510988
999   4087 days 10:23:25.510988
Name: date, Length: 1000, dtype: timedelta64[ns]

In [62]:
(today - time['date'])/np.timedelta64(1,'s')

0      3.693059e+08
1      3.575597e+08
2      3.995476e+08
3      3.392398e+08
4      3.735454e+08
           ...
995    4.245155e+08
996    3.658557e+08
997    4.060303e+08
998    4.160529e+08
999    3.531542e+08
Name: date, Length: 1000, dtype: float64

In [63]:
(today - time['date'])/np.timedelta64(1,'m')

0      6.155098e+06
1      5.959328e+06
2      6.659127e+06
3      5.653997e+06
4      6.225757e+06
           ...
995    7.075258e+06
996    6.097594e+06
997    6.767171e+06
998    6.934214e+06
999    5.885903e+06
Name: date, Length: 1000, dtype: float64

In [64]:
(today - time['date'])/np.timedelta64(1,'h')

0      102584.973753
1       99322.140420
2      110985.457086
3       94233.290420
4      103762.623753
           ...
995    117920.973753
996    101626.573753
997    112786.190420
998    115570.240420
999     98098.390420
Name: date, Length: 1000, dtype: float64